mixin formChangeMulti(path)
        form(
                    action=path
                , method="post"
                form-change-multi
                ) 
                    .d-flex.align-items-start 
                        .form-group 
                            select(name = "type" class="form-control")
                                option( disabled selected="selected") ---Chọn hoạt động---
                                option(value="active") Hoạt Động 
                                option(value="inactive") Dừng hoạt động 
                                option(value="data-delete") Xóa tất cả
                        .form-group 
                            input(
                                type="text"
                                name="ids"
                                value=""
                                class="form-control d-none"
                            )  
                        button(type="submit" class="btn btn-primary") áp dụng