mixin formRecoverMulti(path)
        form(
                action=path
                , method="post"
                form-recover-multi
                ) 
                    .d-flex.align-items-start 
                        .form-group 
                            select(name = "type" class="form-control")
                                option(value="false") Khôi phục
                                
                        .form-group 
                            input(
                                type="text"
                                name="ids"
                                value=""
                                class="form-control d-none"
                            )  
                        button(type="submit" class="btn btn-primary") áp dụng