
extends ../../layouts/default.pug
include  ../../mixins/filter-status.pug
include  ../../mixins/search-view.pug
block main
    h1 #{pageTitle}

    .card.mb-3  
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row 
                .col-6
                    +filterStatus(filterStatus)
                .col-6 
                    +searchView(keyword)




    table.table.table-hover.table-sm
        thead 
            tr 
                th STT 
                th Hình ảnh 
                th Tiêu đề
                th Giá
                th Trạng thái 
                th Hành động 

        tbody 
            each item,index in listProducts
                tr 
                    td #{index +1 }
                    td 
                        img(
                            src=item.thumbnail
                            alt = "Sản phẩm 1"
                            width = "100px"  
                            )
                    td #{item.title}
                    td #{item.price}$
                    td  
                        if(item.status === "active")
                            a(href = "#" class="badge badge-success") #{item.status}
                        else 
                            a(href = "#" class="badge badge-danger") #{item.status}
                    td 
                        button(class="btn btn-warning btn-sm") Sửa
                        button(class="btn btn-danger btn-sm ml-1") Xóa
    nav 
        ul(class="pagination")
            if(totalPages.currentPage > 1)
                li(class=`page-item `)
                        button(class="page-link" 
                            button-pagination = 1
                                ) Trang đầu tiên
                li(class=`page-item `)
                    button(class="page-link" 
                        button-pagination = totalPages.currentPage - 1
                            ) Trang trước
            
            - for(var i = 1 ; i <= totalPages.totalPage  ; i++)
                    li(class=`page-item ${totalPages.currentPage == i ? "active" : ""}`)
                         button(class="page-link " button-pagination = i ) #{i}
            if(totalPages.currentPage < totalPages.totalPage)            
                li(class=`page-item `)
                    button(class="page-link" 
                            button-pagination = totalPages.currentPage + 1
                        ) Kế tiếp
                li(class=`page-item `)
                        button(class="page-link" 
                                button-pagination = totalPages.totalPage
                            ) Trang cuối cùng  



