
extends ../../layouts/default.pug
include  ../../mixins/filter-status.pug
include  ../../mixins/search-view.pug
block main
    h1 #{pageTitle}

    .card.mb-3  
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row 
                .col-6
                    +filterStatus(filterStatus)
                .col-6 
                    +searchView(keyword)




    table.table.table-hover.table-sm
        thead 
            tr 
                th STT 
                th Hình ảnh 
                th Tiêu đề
                th Giá
                th Trạng thái 
                th Hành động 

        tbody 
            each item,index in listProducts
                tr 
                    td #{index +1 }
                    td 
                        img(
                            src=item.thumbnail
                            alt = "Sản phẩm 1"
                            width = "100px"  
                            )
                    td #{item.title}
                    td #{item.price}$
                    td  
                        if(item.status === "active")
                            a(href = "#" class="badge badge-success") #{item.status}
                        else 
                            a(href = "#" class="badge badge-danger") #{item.status}
                    td 
                        button(class="btn btn-warning btn-sm") Sửa
                        button(class="btn btn-danger btn-sm ml-1") Xóa
    nav 
        ul(class="pagination")
            each item in buttonPage
                li(class=`page-item ${item.class}`)
                    button(class="page-link" type = "submit" value=item.value ) #{item.page}
                //- li(class="page-item active")
                //-     button(class="page-link " type = "submit" value="1" ) 1
                //- li(class="page-item ")
                //-     button(class="page-link" type = "submit" value="2" ) 2
                //- li(class="page-item")
                //-     button(class="page-link" type = "submit" value="3" ) 3 
                //- li(class="page-item")
                //-     button(class="page-link" type = "submit" name="next" ) Kế tiếp





